<!DOCTYPE HTML>
<html>
	<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Shop &mdash; Free Website Template, Free HTML5 Template by gettemplates.co</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Free HTML5 Website Template by gettemplates.co" />
	<meta name="keywords" content="free website templates, free html5, free template, free bootstrap, free website template, html5, css3, mobile first, responsive" />
	<meta name="author" content="gettemplates.co" />

	<!-- 
	//////////////////////////////////////////////////////

	FREE HTML5 TEMPLATE 
	DESIGNED & DEVELOPED by FreeHTML5.co
		
	Website: 		http://freehtml5.co/
	Email: 			info@freehtml5.co
	Twitter: 		http://twitter.com/fh5co
	Facebook: 		https://www.facebook.com/fh5co

	//////////////////////////////////////////////////////
	 -->

  	<!-- Facebook and Twitter integration -->
	<meta property="og:title" content=""/>
	<meta property="og:image" content=""/>
	<meta property="og:url" content=""/>
	<meta property="og:site_name" content=""/>
	<meta property="og:description" content=""/>
	<meta name="twitter:title" content="" />
	<meta name="twitter:image" content="" />
	<meta name="twitter:url" content="" />
	<meta name="twitter:card" content="" />

	<!-- <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet"> -->
	<!-- <link href="https://fonts.googleapis.com/css?family=Playfair+Display:400,400i" rel="stylesheet"> -->
	
	<!-- Animate.css -->
	<link rel="stylesheet" href="asset/css/animate.css">
	<!-- Icomoon Icon Fonts-->
	<link rel="stylesheet" href="asset/css/icomoon.css">
	<!-- Bootstrap  -->
	<link rel="stylesheet" href="asset/css/bootstrap.css">

	<!-- Flexslider  -->
	<link rel="stylesheet" href="asset/css/flexslider.css">

	<!-- Owl Carousel  -->
	<link rel="stylesheet" href="asset/css/owl.carousel.min.css">
	<link rel="stylesheet" href="asset/css/owl.theme.default.min.css">

	<!-- Theme style  -->
	<link rel="stylesheet" href="asset/css/style.css">

	<!-- Modernizr JS -->
	<script src="asset/js/modernizr-2.6.2.min.js"></script>
	<!-- FOR IE9 below -->
	<!--[if lt IE 9]>
	<script src="js/respond.min.js"></script>
	<![endif]-->
	<script src="  https://cdnjs.cloudflare.com/ajax/libs/sweetalert/2.1.2/sweetalert.min.js"></script>

	</head>
	<body>
		
	<div class="fh5co-loader"></div>
	
	<div id="page">
	<nav class="fh5co-nav" role="navigation">
		<div class="container">
			<div class="row">
				<div class="col-md-3 col-xs-4">
					<div id="fh5co-logo"><a href="/shop">Shop.</a></div>
				</div>
				<div class="col-md-4  text-center menu-1">
					<ul>
						<li class="has-dropdown">
							<a href="/shop">Shop</a>
							
						</li>
						<li class="has-dropdown">
							<a href="/profile">Profile</a>
							<ul class="dropdown">
								<li><a href="/orderlist">My order</a></li>
								<li><a href="/wishlist">My wishlist</a></li>
								<li><a href="/cart">My cart</a></li>
								<li><a href="/logout">Log Out</a></li>
							</ul>
						</li>
						<li><a href="contact.html">Contact</a></li>
					</ul>
				</div>
				<div class="col-md-3  text-right hidden-xs menu-2">
					<ul>
						<li class="search">
							<div class="input-group d-flex row">
						      <input type="text" placeholder="Search..">
						      <span class="input-group-btn">
						        <a href="/shop" type="button"><button><i class="icon-search"></i></button></a>
						      </span>
						    </div>
						</li>
						<a class="cart shopping-cart icon-shopping-cart" href="/cart" style="background: none; border: none; color: black;"></a>
					</ul>
				</div>
				<div class="col-lg-1 col-xs-4 ">
                    <div class="header__top__right">
                      <% if(loginsession!=null){ %>
                        <div class="header__top__right__auth">
                            <a href="/logout"><i class="fa fa-user"></i> Logout</a>
                        </div>
                        <% }else{ %>
                            <div class="header__top__right__auth">
                                <a href="/login"><i class="fa fa-user"></i> Login</a>
                            </div>
                            <% } %>

                    </div>
                </div>
				
				<div class="col-lg-1 col-xs-4 ">
					<a href="/profile"><svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
						<path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
						<path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
					  </svg></a>
					  
				</div>

				
				
			</div>
			
		</div>
	</nav>
	
	<aside  id="fh5co-hero" class="js-fullheight">
		<div class="flexslider js-fullheight ">
		<ul style="margin: 0 !important; padding: 0 !important;" class="slides m-0 p-0">
            <% for( let i = 0; i < banner.length; i++ ) { %>
            
           
		 	<li  style= "background-image: url(/productimages/<%=banner[i].images[0]%>); object-fit: cover;   width: 100%;
				height: 100%;" >
                
		   		<div class="overlay-gradient"></div>
		   		<div class="container">
		   			<div class="col-md-6 col-md-offset-3 col-md-pull-3 js-fullheight slider-text">
		   				<div class="slider-text-inner">
		   					<div class="desc">
		   						
		   						<h2 style="font-family:'Nike Futura','Helvetica Neue',Helvetica,Arial,sans-serif; color: white; "><%=banner[i].header  %></h2>
		   						<p style="color: rgb(255, 255, 255);"><%=banner[i].banner_description  %>.</p>
			   					<p><a href="single.html" class="btn btn-primary btn-outline btn-lg">Shop Now</a></p>
		   					</div>
		   				</div>
		   			</div>
		   		</div>
		   	</li>
            <% } %>
		   
		</ul>
	  	</div>
	</aside>

	<div  class="fh5co-bg-section">

		<img width="100%"  src="productimages/nike-just-do-it.jpg" alt="">
		<h1 style="text-align: center; padding-top: 53px; font-family: 'Nike Futura','Helvetica Neue',Helvetica,Arial,sans-serif; font-size: 54px;">STEP IN TO WHAT YOU FEEL</h1>
		<p style="font-family: 'Courier New', Courier, monospace;  text-align: center;">Cause everyone should know the feeling of running in that perfect pair.</p>
		<div style="display: flex; justify-content: center;"><a href="/shop"><button style="font-family: 'Nike Futura','Helvetica Neue',Helvetica,Arial,sans-serif; color: white; border-radius: 50px;  background-color: black;     width: 141px;
			height: 53px;">Find your shoes</button></a></div>
	</div>
	<div id="fh5co-product">
		<div class="container">
			<div class="row animate-box">
				<div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
					
					<span>Cool Stuff</span>
					<h2>Products.</h2>
					<p>Dignissimos asperiores vitae velit veniam totam fuga molestias accusamus alias autem provident. Odit ab aliquam dolor eius.</p>
				</div>
			</div>
			<div class="row">
			
                <% for( let i = 0; i < 6; i++ ) { %>
					<% if(product[i].is_deleted==0){ %>
				
               
				<div class="col-md-4 text-center animate-box">
					<div class="product">
						<div class="product-grid" style="background-image:url(productimages/<%=product[i].images[0]%> );">
                            
							<div class="inner">
								<p>
									<a href="/productdetails?id=<%=product[i]._id%>" class="icon"><i class="icon-eye"></i></a>
								</p>
							</div>
						</div>
						<div class="desc">
							<h3><a href="single.html"><%=product[i].product_name  %></a></h3>
							<span class="price">₹<%=product[i].price%></span>
						</div>
					</div>
				</div>
				<% } else{} %>
				<% } %>
				
				
                
				

			</form>
				
			</div>
		</div>
	</div>
	
	<div id="fh5co-testimonial" class="fh5co-bg-section">
		<div class="container">
			<div class="row animate-box">
				<div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
					<span>Testimony</span>
					<h2>Happy Clients</h2>
				</div>
			</div>
			<div class="row">
				<div class="col-md-10 col-md-offset-1">
					<div class="row animate-box">
						<div class="owl-carousel owl-carousel-fullwidth">
							<div class="item">
								<div class="testimony-slide active text-center">
									<figure>
										<img src="images/person1.jpg" alt="user">
									</figure>
									<span>Jean Doe, via <a href="#" class="twitter">Twitter</a></span>
									<blockquote>
										<p>&ldquo;Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.&rdquo;</p>
									</blockquote>
								</div>
							</div>
							<div class="item">
								<div class="testimony-slide active text-center">
									<figure>
										<img src="images/person2.jpg" alt="user">
									</figure>
									<span>John Doe, via <a href="#" class="twitter">Twitter</a></span>
									<blockquote>
										<p>&ldquo;Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.&rdquo;</p>
									</blockquote>
								</div>
							</div>
							<div class="item">
								<div class="testimony-slide active text-center">
									<figure>
										<img src="images/person3.jpg" alt="user">
									</figure>
									<span>John Doe, via <a href="#" class="twitter">Twitter</a></span>
									<blockquote>
										<p>&ldquo;Far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.&rdquo;</p>
									</blockquote>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	

	<div id="fh5co-counter" class="fh5co-bg fh5co-counter" style="object-fit: cover; width: 100%; height: 100%;">
		

		<video style="  max-width: 100%;height: auto;" src="productimages/nikevideo.mp4" class="col-lg-12 " wif muted autoplay loop></video>
			
	</div>

	<div id="fh5co-started">
		<div class="container">
			<div class="row animate-box">
				<div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
					<h2>Newsletter</h2>
					<p>Just stay tune for our latest Product. Now you can subscribe</p>
				</div>
			</div>
			<div class="row animate-box">
				<div class="col-md-8 col-md-offset-2">
					<form class="form-inline">
						<div class="col-md-6 col-sm-6">
							<div class="form-group">
								<label for="email" class="sr-only">Email</label>
								<input type="email" class="form-control" id="email" placeholder="Email">
							</div>
						</div>
						<div class="col-md-6 col-sm-6">
							<button type="submit" class="btn btn-default btn-block">Subscribe</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>

	<footer id="fh5co-footer" role="contentinfo">
		<div class="container">
			<div class="row row-pb-md">
				<div class="col-md-4 fh5co-widget">
					<h3>Shop.</h3>
					<p>Facilis ipsum reprehenderit nemo molestias. Aut cum mollitia reprehenderit. Eos cumque dicta adipisci architecto culpa amet.</p>
				</div>
				<div class="col-md-2 col-sm-4 col-xs-6 col-md-push-1">
					<ul class="fh5co-footer-links">
						<li><a href="#">About</a></li>
						<li><a href="#">Help</a></li>
						<li><a href="#">Contact</a></li>
						<li><a href="#">Terms</a></li>
						<li><a href="#">Meetups</a></li>
					</ul>
				</div>

				<div class="col-md-2 col-sm-4 col-xs-6 col-md-push-1">
					<ul class="fh5co-footer-links">
						<li><a href="#">Shop</a></li>
						<li><a href="#">Privacy</a></li>
						<li><a href="#">Testimonials</a></li>
						<li><a href="#">Handbook</a></li>
						<li><a href="#">Held Desk</a></li>
					</ul>
				</div>

				<div class="col-md-2 col-sm-4 col-xs-6 col-md-push-1">
					<ul class="fh5co-footer-links">
						<li><a href="#">Find Designers</a></li>
						<li><a href="#">Find Developers</a></li>
						<li><a href="#">Teams</a></li>
						<li><a href="#">Advertise</a></li>
						<li><a href="#">API</a></li>
					</ul>
				</div>
			</div>

			<div class="row copyright">
				<div class="col-md-12 text-center">
					<p>
						<small class="block">&copy; 2018 Free HTML5. All Rights Reserved.</small> 
						<small class="block">Designed by <a href="http://freehtml5.co/" target="_blank">FreeHTML5.co</a> Demo Images: <a href="http://blog.gessato.com/" target="_blank">Gessato</a> &amp; <a href="http://unsplash.co/" target="_blank">Unsplash</a></small>
					</p>
					<p>
						<ul class="fh5co-social-icons">
							<li><a href="#"><i class="icon-twitter"></i></a></li>
							<li><a href="#"><i class="icon-facebook"></i></a></li>
							<li><a href="#"><i class="icon-linkedin"></i></a></li>
							<li><a href="#"><i class="icon-dribbble"></i></a></li>
						</ul>
					</p>
				</div>
			</div>

			 


		</div>
	</footer>
	</div>

	<div class="gototop js-top">
		<a href="#" class="js-gotop"><i class="icon-arrow-up"></i></a>
	</div>
	
	<!-- jQuery -->
	<script src="asset/js/jquery.min.js"></script>
	<!-- jQuery Easing -->
	<script src="asset/js/jquery.easing.1.3.js"></script>
	<!-- Bootstrap -->
	<script src="asset/js/bootstrap.min.js"></script>
	<!-- Waypoints -->
	<script src="asset/js/jquery.waypoints.min.js"></script>
	<!-- Carousel -->
	<script src="asset/js/owl.carousel.min.js"></script>
	<!-- countTo -->
	<script src="asset/js/jquery.countTo.js"></script>
	<!-- Flexslider -->
	<script src="asset/js/jquery.flexslider-min.js"></script>
	<!-- Main -->
	<script src="asset/js/main.js"></script>

	
	</body>
</html>

