<%- include ('../layout/homeheader.ejs',{loginsession}) %>
    <!-- Page Preloder -->
    <!-- <div id="preloder">
        <div class="loader"></div>
    </div> -->

    <!-- Header Section Begin -->
   
    <!-- Header Section End -->

    <!-- Hero Section Begin -->
    <section class="hero hero-normal">
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="hero__categories">
                        <div class="hero__categories__all">
                            <i class="fa fa-bars"></i>
                            <span>All Category</span>
                        </div>
                        <ul>
                            <li><a href="#">Men</a></li>
                            <li><a href="#">Women</a></li>
                            <li><a href="#">Kid</a></li>
                            
                        </ul>
                    </div>
                </div>
                <div class="col-lg-9">
                    <div class="hero__search">
                        <div class="hero__search__form">
                            <form action="#">
                                <div class="hero__search__categories">
                                    All Categories
                                    <span class="arrow_carrot-down"></span>
                                </div>
                                <input type="text" placeholder="What do yo u need?">
                                <button type="submit" class="site-btn">SEARCH</button>
                            </form>
                        </div>
                        <div class="hero__search__phone">
                            <div class="hero__search__phone__icon">
                                <i class="fa fa-phone"></i>
                            </div>
                            <div class="hero__search__phone__text">
                                <h5>+65 11.188.888</h5>
                                <span>support 24/7 time</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Hero Section End -->

    
    <!-- Shoping Cart Section Begin -->
    <section class="shoping-cart spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="shoping__cart__table">
                        <% if (wishlistdetails.wishlist.length != 0) { %>

                        <table>
                            <thead>
                                <tr id="heading">
                                    <th class="shoping__product">Products</th>
                                     <th>Price</th>
                                     <th>     </th>
                                </tr>
                            </thead>
                            <tbody>
                                <% for( let i = 0; i < wishlistdetails.wishlist.length; i++ ) { %>
                                
                               
                              
                                <tr id="<%=wishlistdetails.wishlist[i].product._id%>">

                                    <td class="shoping__cart__item">
                                        <img width="100px" height="100px" src="productimages/<%=wishlistdetails.wishlist[i].product.images[0] %>" alt="">
                                        <h5><%=wishlistdetails.wishlist[i].product.product_name %></h5>
                                    </td>
                                    <form action="/addtocart?id=<%=wishlistdetails.wishlist[i].product._id %>" method="post">

                                    <td><%=wishlistdetails.wishlist[i].product.price %></td>
                                    <td>
                                        <button onclick="addtocart('<%=wishlistdetails.wishlist[i].product._id%>','<%=wishlistdetails.wishlist[i].product.quantity_adding%>')" type="button" class="primary-btn" >Add cart</button> 
                                    </td>
                               </form>     
                                    <td class="shoping__cart__item__close">
                                        <button class="icon_close" onclick="deletewishlist('<%=wishlistdetails.wishlist[i].product._id%>')" ></button>

                                    </td>

                                    
                                </tr>


                                <div id="empty1234" style="display: none;" class="text-center ">

                                    <div  colspan="5" class="text-danger text-center" >Missing wishlist items!!!!</div>
                                </div>

                                          <!-- modal for remove cart -->

                                          <div class="modal" id="removewishlist<%=wishlistdetails.wishlist[i].product._id%>" tabindex="-1" role="dialog" aria-labelledby="exampleModal" aria-hidden="true">
                                            <div class="modal-dialog modal-dialog-centered">
                                                <div class="modal-content" style="background-color: lightgrey;">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title text-danger" id="exampleModalLabel">Confirmation
                                                            Message
                                                        </h5>
                                                    </div>
                                                    <div class="modal-body text-danger ">
                                                        Are you sure do you want to remove the Item ?
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
    
                                                        <button onclick="removewishlist('<%=wishlistdetails.wishlist[i].product._id%>')" type="button" class="btn btn-secondary" data-dismiss="modal">Remove</button>
                                                    </div>
                                                </div>
                                            </div>
                                        
                                        </div>
                                <%}%>
                                <%}else{ %>
                                    <tr>
                                        <div id="empty" colspan="5" class="text-center text-danger">Missing wishlist items!!!!</div>
                                        
                                    </tr>
                                  <% } %>
                             
                               
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="shoping__cart__btns">
                        <a href="/shop" class="primary-btn ">CONTINUE SHOPPING</a>
                        
                    </div>
                </div>
               
            </div>
        </div>
    </section>
     
    <% if(message !=null ) {%>
        <script>
          swal({  
            title: "Success",  
            text: "<%=message%>",  
            icon: "success",  
            button: "oh yes!",
              
          });  
        </script>

     <%  }%>
     



     <script>
        function deletewishlist(id){
            $('#removewishlist'+id).modal('show') 

        }
     </script>
 
    <!-- product outof stock Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content" style="background-color: lightgrey;">
            <div class="modal-header">
                <h5 class="modal-title text-danger" id="exampleModalLabel">Order Status
                    Update
                </h5>
            </div>
            <div class="modal-body text-danger ">
                Product is Out of Stock
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              </div>
        </div>
    </div>

  </div>


    <%- include ('../layout/homefooter.ejs') %>


