<%- include('../layout/adminheader.ejs') -%>
  <style>
    table,
    th,
    td {
      border: 1px solid black;
    }
  </style>




  <div class="container tm-mt-big tm-mb-big">
    <div class="row">
      <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6 tm-block-col">
        <div class="tm-bg-primary-dark tm-block tm-block-product-categories">
          <h2 class="tm-block-title">Product Categories</h2>
          <div class="tm-product-table-container">
            <table class="table tm-table-small tm-product-table " id="category-table">
              <thead>
                <tr class="text-center">
                  <th scope="col">NO</th>
                  <th scope="col">CATEGORY</th>
                  <th scope="col">Action</th>


                </tr>
              </thead>
              <tbody>
                <% for(let i=0;i<categorydetails.length;i++){ %>
                  <tr class="text-center" id="<%=categorydetails[i]._id%>">
                    <td class="tm-product-name">
                      <%=i+1%>
                    </td>
                    <td class="tm-product-name">
                      <%=categorydetails[i].categoryname%>
                    </td>
                    <td class="text-center">
                      <a style="cursor: pointer;" onclick="deletecategory('<%=categorydetails[i]._id%>')"
                        class="tm-product-delete-link">
                        <i class="far fa-trash-alt tm-product-delete-icon"></i>
                      </a>
                      <a href="/admin/editcategory?id=<%=categorydetails[i]._id%>" style="cursor: pointer;"
                        class="tm-product-delete-link">
                        <i class="fa-sharp fa-solid fa-pen-to-square tm-product-delete-icon"
                          style="color: rgba(255, 255, 255, 0.79);"></i>

                      </a>


                  </tr>
                  <% } %>
              </tbody>

            </table>
          </div>

        </div>
      </div>
      <div class="col-lg-6  mx-auto tm-login-col">
        <div class="tm-bg-primary-dark tm-block tm-block-h-auto">
          <div class="row">
            <div class="col-12 text-center">
              <h2 class="tm-block-title mb-4">To add Category</h2>

            </div>
          </div>
          <div class="row mt-2">
            <div class="col-12">
              <form id="formcategory" class="tm-login-form">
                <div class="form-group mt-3">
                  <label for="password">Category</label>
                  <input name="category" type="text" class="form-control validate" id="category" />
                  <span class="error text-danger" id="category-error" style="font-size: 12px;"></span>
                  <span class="error text-danger" id="already_exist" style="font-size: 12px;"></span>
                </div>
                <div class="form-group mt-4">
                  <button id="submit-button" class="btn btn-primary btn-block text-uppercase">
                    Submit
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script>


    $(document).ready(function () {
      $('#formcategory').submit(function (e) {
        e.preventDefault();
        var error = false;

        // Validate full name
        var name = $('#category').val().trim();
        var category_regex = /^[a-z]+$/;
        if (!name || !category_regex.test(name)) {
          $('#category-error').text('Please enter a valid category');
          error = true;
          $('#category')
        } else {
          $('#category-error').text('');
        }

        // Submit the form if no errors
        if (!error) {
          this.submit();
        }
      });
    });

    ///////////////////// delete category////////////////////


    function deletecategory(productId) {
      $.ajax({
        type: "GET",
        url: `/admin/deletecategory?id=${productId}`,
        success: function (response) {

          if (response.success == false) {
            swal({
              title: "Good job!!",
              text: response.message,
              icon: "success",
              button: "oh yes!",
            });
            const divToRemove = document.getElementById(productId);
            divToRemove.remove();
          }
          else {
            swal({
              title: "Alert!",
              text: response.message,
              icon: "warning",
              button: "oh yes!",
            });
          }
        },
        // handle successful response


      });
    }

    ////////////////////// already exist /////////



    $(document).ready(function () {
      $("#submit-button").click(function (event) {
        event.preventDefault(); // prevent form submission

        var category = $("#category").val();
        var data = { category: category };
        var name = $('#category').val().trim();
        var category_regex = /^[a-z]+$/;
        if (!name || !category_regex.test(name)) {
          $('#category-error').text('Please enter a valid category');
          error = true;
          $('#category')
        } else {
          $('#category-error').text('');

          $.ajax({
            type: "POST",
            url: "/admin/addnewcategory",
            data: JSON.stringify(data),
            contentType: "application/json; charset=utf-8",
            success: function (response) {
              if (response.success) {


                // Append new row to table
                var newRow = "<tr class='text-center' id='" + response.category._id + "'>" +
                  "<td class='tm-product-name'>" + (parseInt($("#category-table tr:last-child td:first-child").text()) + 1) + "</td>" +
                  "<td class='tm-product-name'>" + response.category.categoryname + "</td>" +
                  "<td class='text-center'>" +
                  "<a style='cursor: pointer;' onclick=\"deletecategory('" + response.category._id + "')\" class='tm-product-delete-link'>" +
                  "<i class='far fa-trash-alt tm-product-delete-icon'></i>" +
                  "</a>" +
                  "<a href=\"/admin/editcategory?id=" + response.category._id + "\" style=\"cursor: pointer;\" class=\"tm-product-delete-link\">" +
                  "<i class=\"fa-sharp fa-solid fa-pen-to-square tm-product-delete-icon\" style=\"color: rgba(255, 255, 255, 0.79);\"></i>" +
                  "</a>" +

                  "</td>" +
                  "<td class='text-align'>" +
                  "</td>" +
                  "</tr>";
                $("#category-table tbody").append(newRow);
                // Clear input field
                $("#already_exist").text("");

                $("#category").val("");
              } else {
                $("#already_exist").text(response.message);
              }
            },
            error: function (xhr, status, error) {
              console.error(xhr.responseText);
            }
          });
        }
      });
    });
  </script>



  <%- include('../layout/adminfooter.ejs') -%>