<%- include('../layout/adminheader.ejs') -%>

<style>
	.form-control::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
            color: rgba(79, 77, 77, 0.719);
            opacity: 100; /* Firefox */
}

	</style>

<div class="container tm-mt-big tm-mb-big">
  <div class="row">
      <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6 tm-block-col">
          <div class="tm-bg-primary-dark tm-block tm-block-product-categories">
            <h2 class="tm-block-title">Product Categories</h2>
            <div class="tm-product-table-container">
              <table class="table tm-table-small tm-product-table">
                  <thead >
                    <tr class="text-center">
                      <th scope="col">Coupon-Title</th>
                      <th scope="col">coupon Code</th> 
                      <th scope="col">Expiry Date</th>                                  
                      <th scope="col">Min Amount</th>                                  
                      <th scope="col">Max amount</th>
                      <th scope="col">min-discount</th>                                  
                      <th scope="col">max-discount</th> 
                      <th scope="col">status</th> 
                      <th scope="col">delete</th>                                  

                    </tr>
                  </thead>
                  <tbody>
                   

                        
                          <%couponDetails.forEach(coupon => {%>
                            <tr class="text-center">
                              <td class=""><%=coupon.couponName%></td>
                            <td class=""><%=coupon.couponId %></td>
                            <td class=""><%=coupon.expiryDate%></td>  
                            <td class=""><%=coupon.minAmount %></td>                          
                                <td class=""><%=coupon.maxAmount%></td>
                                <td class=""><%=coupon.discount%>%</td>
                                <td class=""><%=coupon.max_discount%>%</td>                                
                                 <td class=""><%=coupon.status%></td>
                                 <td>
                                  <a href="/admin/deletecoupon?id=<%=coupon._id %>" id="del" class="tm-product-delete-link">
                                    <i class="far fa-trash-alt tm-product-delete-icon"></i>
                                    </a>
                           
                             </td> 
                            </tr>
                         <% });%>
                    
                </tbody>
              </table>
            </div>

          </div>
        </div>
        
    <div class="col-lg-6  mx-auto tm-login-col">
      <div class="tm-bg-primary-dark tm-block tm-block-h-auto">
        <div class="row">
          <div class="col-12 text-center">
            <h2 class="tm-block-title mb-3">Add Coupon</h2>
          </div>
        </div>
        <div class="row mt-2">
          <div class="col-12">
            <form action="/admin/addcoupon" method="post" class="tm-login-form">
              <div class="form-group mt-2">
               
                <input
                style="height: 10px;"
                  placeholder="Title"
                  type="text"
                  name="couponName"
                  class="form-control validate"
                  id=""
                  required
                />
              </div>
              <div class="form-group mt-2">
               
                <input
                style="height: 10px;"
                  placeholder="couponId"
                  type="text"
                  name="couponId"
                  class="form-control validate"
                  id=""
                  required
                />
              </div>
              <div class="form-group mt-2">
             
                <input
                style="height: 10px;"
                  placeholder="expiry-Date"
                  type="date"
                  name="expiryDate"
                
                  class="form-control validate"
                  id=""
                  required
                  min="2023-04-10"
                />
              </div>
              <div class="form-group mt-2">
             
                <input
                style="height: 10px;"
                  name="minAmount"
                  type="text"
                  class="form-control validate"
                  id=""
                  placeholder="Minimum Amount"
                  required
                />
              </div>
              <div class="form-group mt-2">
               
                <input
                
                  name="maxAmount"
                  type="text"
                  class="form-control validate " style="height: 10px;"
                  id=""
                  placeholder="Max-Amount"
                  required
                />
              </div>
             
              <div class="form-group mt-2">
                
                <input
                style="height: 10px;"
                  name="discount"
                  type="text"
                  class="form-control validate"
                  id=""
                  placeholder=" min Discount in %"
                  required
                />
              </div>
              <div class="form-group mt-2">
                
                <input
                style="height: 10px;"
                  name="maxdiscount"
                  type="text"
                  class="form-control validate"
                  id=""
                  placeholder=" max Discount in %"
                  required
                />
              </div>
              <div class="form-group mt-3">
                <button
                  type="submit"
                  class="btn btn-primary btn-block text-uppercase"
                >
                  Submit
                </button>
              </div>
            </form>
            <% if (message != null) { %>
              <script>
                    swal({
                      title: "Warning!",
                      text: " <%= message %> ",
                      icon: "warning",
                      timer:1000,
                      showConfirmButton: false
                    })
            </script>
            <% } %>


            <% if (mess != null) { %>
                <script>
                      swal({
                        title: "Good job!",
                        text: " <%= mess %> ",
                        icon: "success",
                        timer:1000,
                        showConfirmButton: false
                      })
              </script>
              <% } %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<%- include('../layout/adminfooter.ejs') -%>
