<%- include('../layout/adminheader.ejs') -%>

<style>
  table table td,table th {  
  border: 5px solid;

}
table {
  border-collapse: collapse;
  width: 100%;
  overflow-y: scroll;
}
.tablelal{
  border: 1px solid;
  padding: 10px;
  box-shadow: 5px 10px 8px 10px #888888;
}
.tablelal td{
  border: 1px solid;  
}
.tablelalhead th{
  border: 1px solid!important;  

}

</style>



<div class="container my-5">

  <div class="row">
    <div class="col-md-12">
      <div class="card shadow" style="padding-left: 23px">
        <div class="card-header">
          <h3 class="text-center">View order</h3>
          <a href="/admin/home" class="btn-3 "><button >Back</button></a>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-md-5">
              <h4>Shipping Details</h4>
              <hr />
              <label class="mt-2"> Name</label>
              <div class="border p-1"><%=orderdata.address[0].name%></div>
              <label class="mt-2">Email</label>
              <div class="border p-1"><%=orderdata.address[0].email  %></div>
              <label class="mt-2">Phone Number</label>
              <div class="border p-1"><%=orderdata.address[0].mobileNo%></div>
              <label class="mt-2">Delivery Address</label>
              <div class="border p-1">
                <%=orderdata.address[0].house%>,<%= orderdata.address[0].townCity %>,<%=orderdata.address[0].district%>,<%=orderdata.address[0].state%>,<%=orderdata.address[0].pincode%> <br />
              </div>
            </div>
            
            <div class="col-md-7">
              <h4 style="margin-top: 34px;">Order Details</h4>
              <div style="overflow-y: scroll; overflow-x: scroll;">
              <table class="table table-borderless">
                <thead class="text-muted">
                  <tr class="small text-uppercase">
                    <th scope="col">Product</th>
                    <th scope="col" class="text-center">Quantity</th>
                    <th scope="col" class="text-center">Product Price</th>
                    <th scope="col" class="text-center">Order Status</th>
                  </tr>
                </thead>
                <tbody>
                <% for( let i = 0; i < orderdata.order.length; i++ ) { %>
                
                  <tr>
                    <td>
                      <figure class=" align-items-center">
                        <div class="how-itemcart1">
                          <img src="/productimages/<%=orderdata.order[i].product.images[0]%>" style="height: 100px" alt="IMG"/>
                        </div>
                      </figure>
                    </td>
                    <td class="column text-center">
                      <label class="my-3" for=""><%=orderdata.order[i].quantity %></label>
                    </td>
                    <td>
                      <div class="price-wrap my-3 column text-center">
                        <var class="price">₹ <%=orderdata.order[i].price  %></var><br />
                      </div>
                      <!-- price-wrap .// -->
                    </td>
                    <td class="column text-center">
                      <label  class="my-3 orderdetails" for="" style="color: rgb(9, 135, 26);" id="order-<%=orderdata._id %>-status"><%=orderdata.order[i].status %></label>
                    </td>
                    <td>
                  </tr>
                  <% } %>

                </tbody>
              </table>
              <hr />
            </div>
            <div style="margin-top:34px ">
              
              <h5 style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">

                Grand Total: ₹<%=orderdata.grandtotal %>
                
                </h5>
                
                <h6  style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">Payment Mode : <%=orderdata.order[0].paymentmethod %></h6>
                 <h6 style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">Order Id : <%=orderdata._id %></h6>
                <h6>
                  <% if(orderdata.order[0].status=='OrderConfirmed'){%>
                       <button onclick="shiporder('<%=orderdata._id %>')" class="btn btn-danger btn-sm" id ="refundButton1">Ship order</button></a> 
                    <button onclick="orderdeliver('<%=orderdata._id %>')" class="btn btn-danger btn-sm "  id ="refundButton2" style="display: none;">OrderDelivered</button></a> 

                  <% }else if(orderdata.order[0].status=='OrderShipped') {%>
                    <button onclick="orderdeliver('<%=orderdata._id %>')" class="btn btn-danger btn-sm" id ="refundButton2" >OrderDelivered</button></a> 
                 <% }else if(orderdata.order[0].status=='ReturnPending'){ %>
                  <button onclick="returnaccept('<%=orderdata._id %>')" class="btn btn-danger btn-sm" id ="refundButton3" >ReturnOrder</button></a>
                  <% } %> 

                </h6>
            
              </div>
              
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
  function shiporder(id) {
    $.ajax({
      type: "post",
      url:`/admin/ordershipped?id=${id}`,
      success: function(data) { 
        
        const statusElement = document.querySelectorAll(`#order-${id}-status`);
        for (let i = 0; i < statusElement.length; i++) {
          statusElement[i].innerHTML = data.status
        }
     

        if(data.status=="OrderShipped"){
          let Ship = document.getElementById('refundButton1')
          Ship.style.display ='none'
          let deliverd = document.getElementById('refundButton2')
          deliverd.style.display ='block'
        }
  
},
error: function(data) {
console.log(error);
}
});
}



function orderdeliver(id) {
    $.ajax({
      type: "post",
      url:`/admin/orderdeliver?id=${id}`,
      success: function(data) { 
        
        const statusElement = document.querySelectorAll(`#order-${id}-status`);
        for (let i = 0; i < statusElement.length; i++) {
          statusElement[i].innerHTML = data.status
        }
     

  let cansel = document.getElementById('refundButton2')
  cansel.style.display ='none'
  

  
},
error: function(data) {
console.log(error);
}
});
}




function returnaccept(id) {
    $.ajax({
      type: "post",
      url:`/admin/returnaccept?id=${id}`,
      success: function(data) { 
        
        const statusElement = document.querySelectorAll(`#order-${id}-status`);
        for (let i = 0; i < statusElement.length; i++) {
          statusElement[i].innerHTML = data.status
        }
     

  let cansel = document.getElementById('refundButton3')
  cansel.style.display ='none'
  

  
},
error: function(data) {
console.log(error);
}
});
}


</script>



  
  <%- include('../layout/adminfooter.ejs') -%>
