<%- include('../layout/adminheader.ejs') -%>

  <div class="container mt-5">
    <div class="row tm-content-row ">
      <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 tm-block-col">
        <div class="tm-bg-primary-dark tm-block tm-block-products">
          <div class="tm-product-table-container">
            <table class="table table-hover tm-table-small tm-product-table">
              <thead>
                <tr>
                  <th scope="col">ID</th>
                  <th scope="col">PRODUCT IMAGE</th>
                  <th scope="col"> NAME</th>
                  <th scope="col">CATEGORY</th>
                  <th scope="col">PRICE</th>
                  <th scope="col">ACTION</th>
                </tr>
              </thead>
           
              <tbody >
                <%  for( let i=0;i<product.length;i++){ %>
                <tr>
                  <th scope="row"><%=i+1%></th>
                  <td class="tm-product-name"><img src="/productimages/<%=product[i].images[0]%>" alt="" width="130" height="109" ></td>
                  <td><%=product[i].product_name  %></td>
                  <td><%=product[i].category.categoryname%></td>
                  <td><%=product[i].price%></td>
                  <% if(product[i].is_deleted==0){%>
                 <td>
                    <a href="/admin/editproducts?id=<%=product[i]._id%>" class="tm-product-delete-link">
                      <i class="fa-sharp fa-solid fa-pen-to-square tm-product-delete-icon" style="color: rgba(255, 255, 255, 0.79);"></i>
                  </a>
                  
                    <a href="/admin/deleteproducts?id=<%=product[i]._id%>" class="tm-product-delete-link"  >
                      <i  class="fa-solid fa-flag fa-sharp tm-product-delete-icon" style="color: rgba(255, 255, 255, 0.743);"></i>
                     </a>
                </td>
                 <% } else{%>
                  <td>
                    <a href="/admin/deleteproducts?id=<%=product[i]._id%>" class="tm-product-delete-link">
                      <i class="fa-solid fa-flag fa-sharp tm-product-delete-icon" style="color: rgba(251, 50, 50, 0.73);"></i>
                    </a>
                  </td>
                  
                <% }%>
                </tr>
              
              </tbody>
              <% } %>
            </table>
          </div>
          <!-- table container -->
          <a href="/admin/addproducts" class="btn btn-primary btn-block text-uppercase mb-3">Add new product</a>
        </div>
      </div>
  
    </div>
  </div>
  <footer class="tm-footer row tm-mt-small">
    <div class="col-12 font-weight-light">
      <p class="text-center text-white mb-0 px-4 small">
        Copyright &copy; <b>2018</b> All rights reserved.

        Design: <a rel="nofollow noopener" href="https://templatemo.com" class="tm-footer-link">Template Mo</a>
      </p>
    </div>
  </footer>

  <script>
    $(function () {
      $(".tm-product-name").on("click", function () {
        window.location.href = "edit-product.html";
      });
    });
  </script>

  <%- include('../layout/adminfooter.ejs') -%>